{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Carter's Activity Tracker</div>
        <div class="masthead-heading text-uppercase">We make the world a little smaller</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'index' %}">Go to Home page test</a>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'SpencerPage' %}">TAKE ME TO SPENCER'S PAGE</a> <!--Find the route with the name about and run it.-->
    </div>
</header>
{% endblock%}