{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
<div class="page-header page-header-xs" data-parallax="true" style="background-image: url({% static 'img/clouds.png' %});">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <br>
          <img src="{% static 'img/spencercable.jpg' %}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
        </div>
        <div class="name">
          <h4 class="title">Spencer Cable
            <br />
          </h4>
          <h6 class="description">The Disc Golfer of the Group</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p> When disc golfing isn't enough, he's hanging out with his wife and/or playing board games. </p>
          <br />
          <btn class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Settings</btn>
        </div>
      </div>
    </div>
    <div>
      {%for hobby in hobbies%}

      <h3>{{hobby}}</h3>

      {% endfor %}
    </div>
  <footer class="footer    ">
    <div class="container">
      <div class="row">
        <nav class="footer-nav">
          <ul>
            <li>
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
            </li>
            <li>
              <a href="http://blog.creative-tim.com/" target="_blank">Blog</a>
            </li>
            <li>
              <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
            </li>
          </ul>
        </nav>
        <div class="credits ml-auto">
          <span class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
          </span>
        </div>
      </div>
    </div>
  </footer>
  
{% endblock%}