{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
<div class="page-header page-header-xs" data-parallax="true" style="background-image: url({% static 'img\joshua-stannard.jpg' %});">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <br>
        <div class="avatar">
          <img src="{% static 'img\spencercable.jpg' %}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
          <!--Insert Picture from Database above-->
        </div>
        <div class="name">
          <h4 class="title">Spencer Cable <!--Insert Name here from Database-->
            <br/>
          </h4>
          <h6 class="description">A Disc Golf Pro</h6> <!--Decide if we want descriptions-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p>I'm trying to think of something to put here. Any thoughts per person?</p>
          <br />
          <btn class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Update Contact Info</btn>
          <btn class="btn btn-outline-default btn-round"> Add a New Activity</btn>
        </div>
      </div>
      <div>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
        <!--Example table with filter-->
        <table id="myTable">
          <tr class="header">
            <th style="width:60%;">Name</th>
            <th style="width:40%;">Country</th>
          </tr>
          <tr>
            <td>Alfreds Futterkiste</td>
            <td>Germany</td>
          </tr>
          <tr>
            <td>Berglunds snabbkop</td>
            <td>Sweden</td>
          </tr>
          <tr>
            <td>Island Trading</td>
            <td>UK</td>
          </tr>
          <tr>
            <td>Koniglich Essen</td>
            <td>Germany</td>
          </tr>
        </table>
      </div>
    </div>
    <script>
      function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
      
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      </script>
      <style>
        #myInput {
          background-image: url('/css/searchicon.png'); /* Add a search icon to input */
          background-position: 10px 12px; /* Position the search icon */
          background-repeat: no-repeat; /* Do not repeat the icon image */
          width: 100%; /* Full-width */
          font-size: 16px; /* Increase font-size */
          padding: 12px 20px 12px 40px; /* Add some padding */
          border: 1px solid #ddd; /* Add a grey border */
          margin-bottom: 12px; /* Add some space below the input */
        }
        
        #myTable {
          border-collapse: collapse; /* Collapse borders */
          width: 100%; /* Full-width */
          border: 1px solid #ddd; /* Add a grey border */
          font-size: 18px; /* Increase font-size */
        }
        
        #myTable th, #myTable td {
          text-align: left; /* Left-align text */
          padding: 12px; /* Add padding */
        }
        
        #myTable tr {
          /* Add a bottom border to all table rows */
          border-bottom: 1px solid #ddd;
        }
        
        #myTable tr.header, #myTable tr:hover {
          /* Add a grey background color to the table header and on hover */
          background-color: #f1f1f1;
        }
      </style>
  
{% endblock%}